@import "_reset";
@import "page";
@import url("../extensions/fontawesome/css/all.min.css"); //fontawesome

.container{
    width: 100%;
}
.search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 20px;

    .search-field-wrapper {
        margin-right: 10px;
        position: relative;
        flex-grow: 3;
        .clear-search-field {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            cursor: pointer;

            .bar-line {
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                top: 9px;

                margin: 0 !important;
                padding: 0;
                background: #5f8532;
                transform: rotate(45deg);

                &:last-child {
                    transform: rotate(-45deg);
                }
            }

        }

        input {
            height: 50px;
            width: 100%;
            border-radius: 5px;
            font-size: 20px;
            padding: 0 40px 0 10px;
            outline: none;
            border: 1px solid #5f8532;
        }
    }

    button {
        flex-grow: 1;
        height: 50px;
        border-radius: 5px;
        font-size: 20px;
        border: 1px solid #5f8532;
        color: #5f8532;
        text-transform: uppercase;
    }

}

.posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;

    h3{
        width: 100%;
        color: rgb(146, 146, 146);
    }
    .post-box {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgb(211, 211, 211);
        border-radius: 5px;
        margin-bottom: 20px;
        width: 300px;
        background-color: #fff;
        img {
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            box-shadow: 0 0 15px rgba($color: #000000, $alpha: 1.0);
            height: 444px;
            object-fit: cover;
            object-position: center;
            width: 100%;
            background-color: #00ABF7;
        }

        h1 {
            font-size: 20px;
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            line-height: 30px;
            min-height: 100px;
            padding: 5px 0;
            background-color: #6e973ca1;
        }

        p {
            width: 100%;
            text-align: center;
        }

        button {
            width: 100%;
            height: 50px;
            background-color: #5f8532;
            border: none;
            color: #fff;
            text-transform: uppercase;
            cursor: pointer;
            transition: opacity 0.5s;
            position: relative;
            z-index: 0;
            &:hover{
                &::after{
                    height: 100%;
                    top: 0px;
                }
            }
            &::after{
                content: '';
                display: block;
                width: 100%;
                height: 0px;
                position: absolute;
                left: 0;
                top: 50%;
                z-index: -1;
                background-color: #3c5d16;
                transition: all 0.5s;
            }
        }
    }
}

.post-details {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    .post-container {
        width: 1000px;
        max-width: 100%;
        background: #fff;
        z-index: 2;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 50px 20px rgba($color: #000000, $alpha: 0.9);
        .description-wrapper {
            display: flex;
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            img {
                width: 40%;
                object-fit: cover;
            }
            .description {
                padding: 0 0 0 10px;
                h1{
                    text-align: center;
                    font-size: 28px;
                    background-color: #6e973ca1;
                    padding: 10px 0;
                    margin-bottom: 15px;
                }
                .post-info{
                    display: block;
                    color: #1c3300a1;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                div{
                    margin-bottom: 20px;
                    color: #1c3300a1;
                    strong{
                        color: #000;
                    }
                }
                ul{
                    list-style: none;
                }
                
            }
            
        }
    }


    .details-post-bottom {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
       
    }
}
.err-message{
    color: red;
}