@import url("../extensions/fontawesome/css/all.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

b {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display SC';
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #464646;
  margin-bottom: 30px;
  font-weight: 500;
  letter-spacing: 10px;
}

a {
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 20px;
  color: inherit;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #000;
  padding-left: 20px;
  width: 950px;
  margin: 0 auto;
  background-color: #3d3d3d;
}

header a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

header a:hover {
  opacity: 0.7;
}

header i {
  margin-right: 20px;
  color: inherit;
}

main {
  width: 950px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 50px;
  background-color: #fff;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 950px;
  min-width: 320px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.3);
  border-top: none;
  background-color: #fff;
}

main h1 {
  text-align: center;
  width: 100%;
}

main ul {
  margin-bottom: 30px;
}

main ul li {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Gilroy';
  font-weight: 400;
}

main ul li:last-child {
  margin-bottom: 0;
}

main ul li ul {
  margin-top: 10px;
}

main ul li ul li {
  opacity: 0.8;
}

main p {
  margin-bottom: 20px;
}

main h2 {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  margin-bottom: 20px;
}

main h2 i {
  color: #55772c;
  font-size: 24px;
}

main h2 a {
  font-size: 16px;
  margin-left: 10px;
  color: #55772c;
}

main h3 {
  cursor: pointer;
  text-decoration: underline;
}

main h3:hover {
  opacity: 0.6;
}

main .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .technologies ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .technologies ul li {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-weight: bold;
}

main .technologies i {
  color: #5f8532;
  font-size: 50px;
  margin-bottom: 10px;
}

footer {
  max-width: 950px;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
  background-color: #3d3d3d;
  text-align: center;
}

footer a {
  display: block;
  font-size: 16px;
  color: #fff;
}

.container {
  width: 100%;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form {
  width: 40%;
}

.tableWrapper {
  padding: 0;
  margin: 0;
  padding-left: 10px;
  width: 60%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 10px;
}

form label {
  display: block;
  margin-bottom: 15px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 100;
}

form input {
  margin-bottom: 50px;
  height: 50px;
  border: 1px solid #D8D9D9;
  border-radius: 5px;
  outline: none;
  padding: 0 40px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
}

form input:focus {
  border: 1px solid #A2C0DA;
  -webkit-box-shadow: 0 0 5px #A2C0DA;
          box-shadow: 0 0 5px #A2C0DA;
}

form input[type=button] {
  width: 150px;
  color: #679473;
  font-size: 16px;
  border: 1px solid #679473;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
  background-color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

form input[type=button]:hover {
  background-color: #37B052;
  color: #fff;
  cursor: pointer;
}

form input[type=button]:disabled:hover {
  background-color: #fff;
  color: #679473;
  cursor: inherit;
}

form input[type=button]:focus {
  -webkit-box-shadow: 0 0 5px #37B052;
          box-shadow: 0 0 5px #37B052;
}

table {
  margin-top: 31px;
  font-family: sans-serif;
  width: 100%;
}

table thead {
  -webkit-box-sizing: initial;
          box-sizing: initial;
  margin-bottom: 5px;
  padding-bottom: 5;
}

table thead tr {
  border-bottom: 2px solid #E2E5E4;
  border-top: 1px solid #E2E5E4;
  margin-bottom: 5px;
}

table thead th {
  height: 60px;
  vertical-align: middle;
  text-align: left;
  min-width: 20px;
}

table td {
  height: 60px;
  vertical-align: middle;
  font-weight: 100;
}

table .edit, table .delete {
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

table .edit:active, table .delete:active {
  opacity: 0.8;
}

table .edit {
  border: none;
  background-color: #FFC60E;
  font-weight: 100;
}

table .delete {
  outline: none;
  border: 1px solid #B75862;
  background-color: #E04553;
  color: #fff;
}

table tbody tr {
  padding-top: 2px;
}

.err {
  border: 1px solid red !important;
  -webkit-box-shadow: 0 0 4px #ee6f6f;
          box-shadow: 0 0 4px #ee6f6f;
}

.currentString {
  background-color: #f0f0f0;
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
}

@-webkit-keyframes blink {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes blink {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: transparent;
  }
}
/*# sourceMappingURL=style.css.map */