@import "_reset";
@import "_page";
@import url("../extensions/fontawesome/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .container {
    width: 900px;
    margin: 0 auto;
  }
  
  .block {
    height: 300px;
    overflow-y: auto;
    border-radius: 5px;
    background-color: #ECF0F2;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #D6DADB;
    font-size: 14px;
  }
  
  .block p {
    margin-bottom: 15px;
  }
  
  .editBlock,
  .styleBlock {
    display: none;
  }
  
  .editArea {
    width: 100%;
    height: 110px;
    resize: none;
  }
  
  form {
    position: relative;
  }
  
  .colors,
  .colorsBg {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-shadow: 0 0 4px #000;
            box-shadow: 0 0 4px #000;
  }
  
  .colorBox {
    width: 33.3%;
    height: 33.3%;
  }
  
  .colorBox:nth-child(1) {
    background: red;
  }
  
  .colorBox:nth-child(2) {
    background: green;
  }
  
  .colorBox:nth-child(3) {
    background: yellow;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .cursive {
    font-style: italic;
  }
  
  .first {
    display: none;
  }
  
  input, textarea, select {
    outline: none;
    border: 1px solid #D8DBDC;
    border-radius: 5px;
  }
  
  input:focus, textarea:focus, select:focus {
    border-color: #A3C1E3;
    -webkit-box-shadow: 0 0 4px #17A1C2;
            box-shadow: 0 0 4px #17A1C2;
  }
  
  input[type=button] {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .center {
    text-align: center;
  }
  
  button {
    cursor: pointer;
  }
  
  .btnEdit {
    background-color: #FFC400;
    margin-right: 5px;
  }
  
  .btnEdit:hover {
    background: #E8AB00;
    -webkit-box-shadow: 0 0 5px 1px #E8AB00;
            box-shadow: 0 0 5px 1px #E8AB00;
  }
  
  .btnEdit:active {
    background: #be8c01;
    -webkit-box-shadow: 0 0 5px 1px #E8AB00;
            box-shadow: 0 0 5px 1px #E8AB00;
  }
  
  .btnEdit:focus {
    -webkit-box-shadow: 0 0 5px 1px #E8AB00;
            box-shadow: 0 0 5px 1px #E8AB00;
  }
  
  .btnStyle {
    background-color: #17A1C0;
    color: #fff;
  }
  
  .btnStyle:hover {
    background: #128BA8;
    -webkit-box-shadow: 0 0 5px 1px #17A1C0;
            box-shadow: 0 0 5px 1px #17A1C0;
  }
  
  .btnStyle:active {
    background: #0f6a81;
  }
  
  textarea {
    margin-bottom: 10px;
  }
  
  .btnAdd {
    background: #F0585A;
    border: 1px solid #af575b;
    margin-right: 5px;
    color: #fff;
  }
  
  .btnAdd:hover {
    background: #ce4c4f;
  }
  
  .btnAdd:active {
    background: #a33d3f;
  }
  
  .btnSave {
    background: #369F54;
    border-right: 1px solid #41915E;
    color: #fff;
  }
  
  .btnSave:hover {
    background: #308b4a;
  }
  
  .btnSave:active {
    background: #28743e;
  }
  
  .styleBlock {
    font-family: sans-serif;
    font-weight: normal;
  }
  
  .styleBlock h2 {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
  }
  
  .styleBlock input[type=radio] {
    margin-left: 30px;
    margin: 0 10px 10px 25px;
  }
  
  .styleBlock span {
    font-size: 14px;
  }
  
  .styleBlock #fontFamily {
    height: 30px;
    padding: 5px;
    width: 45%;
    border: 1px solid #D8DBDC;
    margin-bottom: 10px;
  }
  
  .styleBlock .btnTextColor, .styleBlock .btnBgColor {
    background: #777F83;
    color: #fff;
    margin-right: 5px;
    border: 1px solid #626769;
    margin-bottom: 10px;
  }
  
  .styleBlock .btnTextColor:hover, .styleBlock .btnBgColor:hover {
    background: #666d70;
    -webkit-box-shadow: 0 0 4px #626769;
            box-shadow: 0 0 4px #626769;
  }
  
  .styleBlock .btnTextColor:active, .styleBlock .btnBgColor:active {
    background: #575d5f;
    -webkit-box-shadow: 0 0 4px #626769;
            box-shadow: 0 0 4px #626769;
  }
  
  .styleBlock .btnTextColor:focus, .styleBlock .btnBgColor:focus {
    background: #494e50;
    -webkit-box-shadow: 0 0 4px #626769;
            box-shadow: 0 0 4px #626769;
  }
  
  .styleBlock .formStyle input {
    border: 1px solid red;
    outline: none;
    margin-right: 5px;
    background-color: #000;
  }
  
  .styleBlock .formStyle span {
    margin-right: 20px;
  }
  
  .second .block {
    height: auto;
    min-height: 300px;
  }
  
  .second .block .select input[type=radio] {
    margin-right: 10px;
  }
  
  .second .block .select span {
    margin-right: 20px;
  }
  
  .second .block h2 {
    margin-bottom: 20px;
  }
  
  .second .block .select {
    margin-bottom: 20px;
  }
  
  .second .block .creteList label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  
  .second .block .creteList label span {
    width: 15%;
  }
  
  .second .block .creteList label input, .second .block .creteList label select {
    width: 85%;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #D9DCE2;
    padding-left: 10px;
    color: #767883;
  }
  
  .second .block .creteList .create {
    background: #369F54;
    border-right: 1px solid #41915E;
    color: #fff;
  }
  
  .second .block .creteList .create:hover {
    background: #308b4a;
  }
  
  .second .block .creteList .create:active {
    background: #28743e;
  }
  
  .second .block .tableForm label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
    height: 35px;
    line-height: 35px;
  }
  
  .second .block .tableForm label span {
    width: 150px;
  }
  
  .second .block .tableForm label input {
    width: 100%;
    padding-left: 10px;
  }
  
  .second .block .tableForm .width100p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-right: 20px;
  }
  
  .second .block .tableForm .width100p label {
    width: 33.3%;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .second .block .tableForm .width100p label:last-child {
    margin-right: 0;
  }
  
  .second .block .tableForm .width100p label select, .second .block .tableForm .width100p label input {
    width: 152px;
    outline: none;
    border: 1px solid #D8DBDC;
    border-radius: 5px;
    color: #757575;
    padding-left: 10px;
  }
  
  .second .block .tableForm .width100p label:first-child span:nth-child(1) {
    width: 245px;
    margin-right: 5px;
  }
  
  .second .block .tableForm button {
    padding: 10px;
    border: 1px solid #5C956C;
    background-color: #2FA051;
    border-radius: 5px;
    color: #fff;
  }
  
  .second .block .tableForm button:hover {
    background-color: #268441;
  }
  
  .second .block .tableForm button:active {
    background-color: #227539;
  }
  
  .second .block #tableForm {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 10px 0;
  }
  
  .second .block #tableForm td {
    border: 1px solid #3d3d3d;
  }
  
  .show {
    display: block;
  }
  
  .hide {
    display: none;
  }
  /*# sourceMappingURL=style.css.map */