@import url("../extensions/fontawesome/css/all.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #424242;
}

b {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display SC';
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #464646;
  margin-bottom: 30px;
  font-weight: 500;
  letter-spacing: 10px;
}

a {
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 20px;
  color: inherit;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #000;
  padding-left: 20px;
  width: 950px;
  margin: 0 auto;
  background-color: #3d3d3d;
}

header a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

header a:hover {
  opacity: 0.7;
}

header i {
  margin-right: 20px;
  color: inherit;
}

main {
  width: 950px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 50px;
  background-color: #fff;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 950px;
  min-width: 320px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.3);
  border-top: none;
  background-color: #fff;
}

main h1 {
  text-align: center;
  width: 100%;
}

main ul {
  margin-bottom: 30px;
}

main ul li {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Gilroy';
  font-weight: 400;
}

main ul li:last-child {
  margin-bottom: 0;
}

main ul li ul {
  margin-top: 10px;
}

main ul li ul li {
  opacity: 0.8;
}

main p {
  margin-bottom: 20px;
}

main h2 {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  margin-bottom: 20px;
}

main h2 i {
  color: #55772c;
  font-size: 24px;
}

main h2 a {
  font-size: 16px;
  margin-left: 10px;
  color: #55772c;
}

main h3 {
  cursor: pointer;
  text-decoration: underline;
}

main h3:hover {
  opacity: 0.6;
}

main .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .technologies ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .technologies ul li {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-weight: bold;
}

main .technologies i {
  color: #5f8532;
  font-size: 50px;
  margin-bottom: 10px;
}

footer {
  max-width: 950px;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
  background-color: #3d3d3d;
  text-align: center;
}

footer a {
  display: block;
  font-size: 16px;
  color: #fff;
}

.container {
  width: 100%;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 20px;
}

.search .search-field-wrapper {
  margin-right: 10px;
  position: relative;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.search .search-field-wrapper .clear-search-field {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.search .search-field-wrapper .clear-search-field .bar-line {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  margin: 0 !important;
  padding: 0;
  background: #5f8532;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search .search-field-wrapper .clear-search-field .bar-line:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search .search-field-wrapper input {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  padding: 0 40px 0 10px;
  outline: none;
  border: 1px solid #5f8532;
}

.search button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid #5f8532;
  color: #5f8532;
  text-transform: uppercase;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
}

.posts h3 {
  width: 100%;
  color: #929292;
}

.posts .post-box {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 300px;
  background-color: #fff;
}

.posts .post-box img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
  height: 444px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  background-color: #00ABF7;
}

.posts .post-box h1 {
  font-size: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 30px;
  min-height: 100px;
  padding: 5px 0;
  background-color: #6e973ca1;
}

.posts .post-box p {
  width: 100%;
  text-align: center;
}

.posts .post-box button {
  width: 100%;
  height: 50px;
  background-color: #5f8532;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: relative;
  z-index: 0;
}

.posts .post-box button:hover::after {
  height: 100%;
  top: 0px;
}

.posts .post-box button::after {
  content: '';
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
  background-color: #3c5d16;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.post-details {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  opacity: 0;
}

.post-details .post-container {
  width: 1000px;
  max-width: 100%;
  background: #fff;
  z-index: 2;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.9);
}

.post-details .post-container .description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.post-details .post-container .description-wrapper img {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-details .post-container .description-wrapper .description {
  padding: 0 0 0 10px;
}

.post-details .post-container .description-wrapper .description h1 {
  text-align: center;
  font-size: 28px;
  background-color: #6e973ca1;
  padding: 10px 0;
  margin-bottom: 15px;
}

.post-details .post-container .description-wrapper .description .post-info {
  display: block;
  color: #1c3300a1;
  font-size: 14px;
  margin-bottom: 10px;
}

.post-details .post-container .description-wrapper .description div {
  margin-bottom: 20px;
  color: #1c3300a1;
}

.post-details .post-container .description-wrapper .description div strong {
  color: #000;
}

.post-details .post-container .description-wrapper .description ul {
  list-style: none;
}

.post-details .details-post-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.err-message {
  color: red;
}
/*# sourceMappingURL=style.css.map */