@import "_reset";
@import "page";
@import url("../extensions/fontawesome/css/all.min.css"); //fontawesome
.main-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
}
.content{
    width: 800px;
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eeeeee;
    padding: 15px;
    border-radius: 10px;
    .words{
        span{
            color: rgb(247, 91, 91);
        }
    }
    .line-wrapper{
        display: flex;
        width: 100%;
        justify-content: stretch;
        margin-bottom: 20px;
        input{
            flex-grow: 1;
            &.invalide{
                border: 1px solid rgb(243, 88, 88);
                &:focus{
                    box-shadow: 0 0 8px 0 rgb(250, 160, 160);
                }
            }
        }
        button{
            margin-left: 10px;
            width: 100px;
        }
    }
    .form-control{
        color: #5a5a5a;
    }
    textarea{
        outline: none;
        margin-bottom: 20px;
        border: 1px solid #ced4da;
        resize: none;
        height: 200px;
        border-radius: 4px;
        padding: 15px;
        &.invalide{
            border: 1px solid rgb(243, 88, 88);
            &:focus{
                box-shadow: 0 0 8px 0 rgb(250, 160, 160);
            }
        }
        &.success{
            border: 1px solid rgb(73, 245, 67);
            &:focus{
                box-shadow: 0 0 8px 0 rgb(73, 245, 67);
            }
        }
    }
}
